.comp_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    width: 90%;
    max-width: 1450px;
    margin: 8rem 0 1rem 0;
}

.image_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 85%;
    border-radius: 3rem;
    padding: 6px 20px;
    margin: 1rem auto 3rem auto;
}

.Y2 {
    width: 100%;
}

.yatchBox {
    margin: 2rem 0 3rem 0;
    width: 100%;
}

.section_head {
    font-size: 45px;
    font-weight: 400;
    line-height: 58.29px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 2rem;
}

.section_head2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 46.29px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #2B6BE7;
    margin-bottom: 1.5rem;
}

.location_filt_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .form_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .form_grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.form_group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 90%;
}

.form_label {
    font-size:24px;
    color: #000000;
}

.form_input {
    /* width: 100%; */
    padding: 15px 16px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 0.5rem;
    font-size: 18px;
    outline: none;
}

.date_picker {
    width:88%;
    padding: 15px 16px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 0.5rem;
    font-size: 18px;
}

.special_requests {
    grid-column: span 2;
}

.textarea {
    width: 100%;
    padding: 16px 16px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 0.5rem;
    resize: none;
    font-size: 18px;
    min-height: 50px;
    outline: none;
}

.submit_button {
    width: 20%;
    padding: 1rem 2rem;
    background-color: #2B6BE7;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin: 5rem 0 4rem 0;
    transition: background-color 0.2s;
    max-width: 250px;
}

.submit_button:hover {
    background-color: #1f5ac9;
}